/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/*css variables*/
:root {
    --primary-font: "inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #fffeff;
    /*kind of red*/
    --secondary-color: #d0a4af;
    /*lightcolor */
    --highlight-color: #416a8e;
    --highlight-color-light: #7a9fc2;
}

/*Global styles*/

body {
    font-size: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Navbar */

#navbar {
    background-color: var(--primary-color)
}

#navbar .logo {
    width: 50px;
}
.section{
    margin: top 2rem;
    margin-bottom: 2rem;
}


/* Header */
#header .lead{
    font-family: var(--secondary-font);
}

/* Hero1 section*/
#hero1 {
    flex: 1 0 auto;
    margin-top: 1px;
    height: 600px;
    width: 100%;
    background: url("../css/hero-image/image0.jpeg") no-repeat center center/cover;
}




/*grid visualistion css for testing*/

/*.container,
.row {
    border:2px solid black;
}

.col-12{
    border:2px solid white;
    background-color: lightgrey;
}